
body {
	width:900px;
	margin: 0 auto;
} 

hr {
	border: 1px solid #c79852;
	width: 70px;
}

/*NAV*/

nav {
	width:1000px;
}

nav .title {
	float:left;
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	color: #464646;
	display: block;
}

nav .search {
	float: right;
	padding-top: 15px;
	color: black;
}

nav input {
	border: none; 
}

/*HEAD SECTION*/
header {
	padding-top: 50px;
	text-align: center;
}

header img {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	text-align: center;
}
header p { 
	font-family: 'Lago', sans-serif;
 }

header h1 {
	font-family: 'Lora', serif;
	font-size: 60px;
	letter-spacing: -1px;
	color: #242424;
	line-height: 60px;
	margin: 1% 0;
}

header h2 {
	font-family: 'Lato', sans-serif;
	color: #5f5f5f;
	font-weight: normal;
	font-size: 20px;
	padding:;
}

/*introBODY section*/
.introBody p {
	font-family:'Lato', sans-serif;
	color:#464646;
	text-align: left;
	line-height: 30px;
	padding: 0 15%;
	margin: 3% 0;
}

.introBody img {
	margin: 10px auto;
	padding-left: 50px;
}

.personalquote p {
	font-family: 'Petit Formal Script', cursive;
	text-align: center;
	font-size: 25px;
	line-height: 36px;
	padding: 0% 20%;
}

.personalquote h1 {
	font-family: 'lato', sans-serif;
	text-align: center;
	font-size: 20px;
	padding: 0 20%;	
}

/*CHAIR SECTION*/
.chairs123 img {
	float: left;
	padding-right: 7px; 
}

.topChair {
	float:right;
}

.bottomChair {
	float:right;
	margin: 0;
	padding-top: 7px;
	padding-bottom: 40px;
}

/* LIKES SECTION */ 
.likes {
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding-top: 10px;
}

/*FORM SECTION*/
form {
	text-align: center;
}

form textarea {
	width: 70%;
	border: 1px solid;
	border-color: #e5e5e5;
	border-radius: 5px;
	font-size: 12px;
	padding: 6px 12px;
}

.button-group {
	padding-left: 140px;
}

.button-group button {
	float: left;
	border: none;
	background: white;
	font-size: 12px;
	padding: 0 10px 0 0;
	color: #464646;
}

.button-group button:last-child {
	float: right;
	padding-right: 140px;

}

/*FOOTER SECTION*/
footer {
	font-family: 'Lato', sans-serif;
	background: #F8F9FD;
	height: 200px;
	padding: 0 20%;
}

.previous-article,
.next-article {
	display: inline-block;
	width: 50%;	
	position: relative;
}

.previous-article {
	left: 20%;
	position: absolute;
}

.previous-button {
	text-align: left;
}

.next-article {
	position: absolute;
	right: 20%;
}

.next-button {
	text-align: right;
}

.previous-button,
.next-button {
	margin: 10% 0;
}

.previous-button a,
.next-button a { 
	color: #434345;
	font-weight: bold;
	margin: 3% 0;
	text-decoration: none;
 }

.previous-button p,
.next-button p {
	font-weight: normal;
	margin: 3% 0;
}




















